*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVITATION BAR DESIGN */
.navigationBarr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Header{
    background-color: rgba(75, 52, 37, 1);
    background-image: url('images/BG\ \(2\).png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
}
.Header .menuAnime{
    transform: translateY(0);
}

/* .navigationBarr {
    position: absolute;
    max-width: 100%;
    z-index: 2;
} */
.DropdownContainer{
    display: none;
}
.DroppDownMenuu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    position: relative;
    
}
.Header{
    animation: floatIn 0.5s ease-in-out;
}
@keyframes floatIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.DroppDownMenuu ul li a{
    font-family: 'Nova Square', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
}
.DroppDownMenuu ul li{
    
    padding: 0.7rem 1.5rem;
    gap: 0.62rem;
    transition: background-color 0.5s;
    border-radius: 77.125rem;
}
.DroppDownMenuu ul li:hover{
    background-color:  #3c2b2094;

}
.navigationBarr{
    border-bottom: 30px;
    background-color: rgba(247, 244, 242, 1);
    border-radius: 77.125rem;

}
.TermsCond{
    color: white;
}
.TERMSANDCONDITIONDROPDOW p{
    /* Label/sm */
font-family: Urbanist;
font-size: 0.75rem;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 0.075rem;
text-transform: uppercase;
color: #fff;
}

.TERMSANDCONDITIONDROPDOW h2{
    font-family: Urbanist;
font-size: 2.25rem;
font-style: normal;
font-weight: 500;
line-height: 2.75rem; /* 122.222% */
letter-spacing: -0.0675rem;
text-transform:lowercase;
gap: 4rem;
}
.ContactInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}
.ContactInfo h4{
    font-family: Urbanist;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 2rem */
    letter-spacing: -0.0125rem;
}
.ContactInfoBtn{
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    
    border-radius: 77.125rem;
    display: flex;
    align-items: center;
}
.ButtonContainer{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    align-items: flex-start;
    gap: 0.75rem;
    border-radius: 77.125rem;
    background-color: #fff;
    max-width: fit-content;
    margin-bottom: 12px;
    
}
.ButtonContainer button{
    border-radius: 77.125rem;
    border: none;
    outline: none;
    display: flex;
    height: 4rem;
    padding: 1rem 0.5rem 1rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.ButtonContainer button:first-child{
    background-color: rgba(254, 129, 75, 1);
}
.ButtonContainer button:last-child{
    background-color: rgba(155, 176, 104, 1);
}
.ButtonContainer button span{
    background-color: #fff;
    padding: 15px;
    border-radius: 77.125rem;


}
.handBugerMenu:hover .DroppDownMenuu{
    display: none;
}

/* NAVITATION BAR DESIGN */

:root{
    --light-color:  rgba(247, 244, 242, 1);
    --primary-color:rgba(155, 176, 104, 1);
    --secondary-color: rgba(254, 129, 75, 1);
    --accent-color: rgba(75, 52, 37, 1);
}
.PlatformImg{
    content: "";
    
    background-position:top left;
    background-repeat: no-repeat;
    background-size:50%;
    align-items: center;
    justify-content: center;
}
.PlatformLandingPage{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top:  90px;
    align-items: center;
}
.PlatSec2{
    background-color: rgba(247, 244, 242, 1);
    border-radius: 30px;
}
.PlatSec3{
    background-color: rgba(75, 52, 37, 1);
    background-image: url("images/BG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
.TryDemoDownLoad{
display: grid;
max-width: 100%;
}
.TryDemoDownLoad button{
    padding: 120px auto;
}
.PlatformPagetwo{
   
    border-radius: 30px;
    display: grid;
    grid-template-columns: 100%;
}
/*Section 2 of the Platform page*/
.OurPlatfornWithCol{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.OurIdea p{
    line-height: 1.5rem;
}
.SmallDiscriptionsTag{
    background-color: rgba(155, 176, 104, 1);
    border-radius: 30px;
    max-width: fit-content;
}
.bullet{
    border-radius: 30px;
    background-color: #ffffff;
}
.bullet span{
    color: rgba(75, 52, 37, 1);
    display: inline-block;
    align-items:center;
}
.SmallDiscriptionsTag span{
    font-weight: 600;
    color: #ffffff;
}
.hOneDiv{
    max-width: 500px;   
}
.hOneDiv h1{
    font-size: 2rem;
    font-weight: 600;
}
/*GRID ARRANGEMENT BASED ON SCREEN SIZES*/
.PlatformPagetwo .hOneDiv{
    order: 1
}
.image{
    order: 3;
}
.OurPlatfornWithCol{
    order: 2;
}
/*GRID ARRANGEMENT BASED ON SCREEN SIZES*/

/*Section 2 of the Platform page*/

.Mchatbot{
    color: rgba(155, 176, 104, 1);
    position: relative;
}
.PlatformHeroText{
    width:450px;
    order: 2;

}
.PlatformHeroText .Thecards{
    float: left;
    width: 250px;
}
.PlatformHeroText h1{
    
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;
    color: rgba(75, 52, 37, 1);
 }
.HeroImages{
    order: 1;
}
.PlatformHeroText  p{
    
}
.downloadICON {
    background-color: rgba(155, 176, 104, 1);
}

.try-forFree {
    background-color: rgba(247, 244, 242, 1);
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.flexend {
    align-self: flex-start;
    justify-self: flex-start;
}

.downloadBtn, .downloadBtnn {
    align-self: flex-end;
    justify-self: flex-end;
}

.secTwo h1 span {
    color: rgba(254, 129, 75, 1);
}

/*SECTION THREE OF THE PLATFORM PAGE*/
.PlatSec3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.PlatSec3 h1{
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
}
.OurAdvance{
        
    width: 640px;
    
    
}
.TryDemoDownLoad{
    display: flex;
}
.WePro{
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.WePro h1{
    font-size: 3rem;
    line-height: 4rem;
}
.TryDemoDownLoad button{
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 30px;
}
.TryDemoDownLoad button:first-child{
    background-color: rgba(254, 129, 75, 1);
    margin-right: 5px;
}

.downloadBTN{
    position: relative;
    width: 200px;
    background-color: rgba(155, 176, 104, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
    transition: .5s cubic-bezier(1, 0, .8, 1);
}
 .DOWNLOADAPPBtn{
    position: absolute;
    border-radius: 30px;
    padding: 12px;
    right: 4;
    background-color: white;
    margin: 0;
    transition: .5s ;

}
.downloadBTN:hover .DOWNLOADAPPBtn{
    width: 100%;
    height: 100%;
    transition: .5s cubic-bezier(1, 0, .8, 1);

}

.Section3{
    overflow: hidden;
    border-radius: 30px;
}
.HowOurPlaWork{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:  rgba(155, 176, 104, 1);
    border-radius: 30px;
}
.HowOne{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    
}

.HONE{
    align-self: flex-start;
    margin-left: -90;
}
.HTWO{
    align-self: flex-end;
    margin-right: -90;
}
.WORK1{
    background-color: #fff;
    border-radius:  70px;
    padding: 20px;
    width: fit-content;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.WORK1 h1{
    font-size: 4rem;
    font-weight: 700;
    color: rgba(155, 176, 104, 1);
}
/*SECTION THREE OF THE PLATFORM PAGE*/

.Box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.BoxOne, .BoxThree{
    flex-direction: row-reverse;
}

/*SECTION FIVE OF THE PLATFORM PAGE*/







/*SECTION FIVE OF THE PLATFORM PAGE*/

/*SECTION 6*/
.SectionSix{
    background-color: rgba(254, 129, 75, 1);
    border-radius: 30px;
}


/*SECTION 6*/

/*Section Seven*/

.SectionSeven{
    background-color: rgba(232, 221, 217, 1);
    
}
.PlatFormBenefit{
    background-color: rgba(247, 244, 242, 1);
    text-align: center;
    align-self: center;
}
.BenefitContent h1{
    font-weight: 700;
    color: rgba(75, 52, 37, 1);
}
.CardsHere{
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CardsHere img{
    margin-right: 16px;
}
.CardContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}
/*Section Seven*/
/* SECTION 8 */
/* .SectionEight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.anchorTag{
    display: flex;
    align-items: center;
    justify-content: center;
}
.anchorTag a{
    background-color: rgba(254, 129, 75, 1);
    padding: 12px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}
.FreqAskedQ{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:var(--accent-color);

}
.FreqAskedQ h1{
    font-size: 3rem;
    font-weight: 600;
    width: 390px;
    color:var(--accent-color);
}
.QuestionSuggetions{
    display: flex;
}
.QuestionSuggetions h5{
    border: 3px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: fit-content;
    padding: 8px;
    
    float: right;
}
.QuestionSuggetions{
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333% ;
    float: right;
}
.faq{
    margin-top: 2rem;
    position: relative;
    
}

.Questions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-color);
    border-radius: 35px;
    color: var(--accent-color);
    font-size: 2.5rem;
}
.Questions .SVG{
    background-color:var(--secondary-color);
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}



.answer p{
    margin-top:  1rem;
    margin-left: 2rem;
    border-left: 2px solid var(--accent-color);
    max-width: 40rem;
    line-height: 1.6;
    
}
.PlatFormBenefitIX{
    background-color: rgba(207, 217, 181, 1);
}
.PlatFormBenefitIX span{
    color: rgba(61, 74, 38, 1);
    font-weight: 700;

}
/* SECTION 8 */
/* SECTION 9 */
.Section9{
    background-color: rgba(155, 176, 104, 1);

}
.OurPricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.PricingPlans{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ToggleBtn{
    position: relative;
    width: 100px;
    height: 50px;
    background-color: rgba(61, 74, 38, 0.687);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.ToggleBtn i{
    position: absolute;
    top: 0;
    right: 1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 2px;
}
.ToggleBtn .move i{
    left: 1;
}
.pricePlant{
    display: none;
}


.plans {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}
.plan{
    position: relative;
    background-color: #fff;
    border-radius: 30px;
    width: fit-content;
    transition: .2s;
    
}
.plan:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px #1e1e1e8c, 0 0px #282727, 0 0 25px #363535;
}
.plan-I{
    background-color: rgba(247, 244, 242, 1);
    
}
.plan-II {
    background-color: rgba(229, 234, 215, 1);
}
.plan-III{
background-color: rgba(254, 129, 75, 0.136);
}
.plan .head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-radius: 30px;
}
.Column{
    border-bottom: 1px solid rgba(75, 52, 37, 1);
    padding: 12px;
}
.PricButton{
   position: relative;
    padding: 20px;
    border-radius: 40px;
    background-color: rgba(75, 52, 37, 1) ;
    width:90%;
    border: none;
}
/* section With Iphone */
.SectionTen{
    background-color: rgba(247, 244, 242, 1);
}
.Phonetext{
    display: flex;
    align-items: center;
    justify-content: center;

}
.buttonsApplePlay{
    display: flex;
    flex-direction: column;
}
.buttonsApplePlay button{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    outline: 0;
    border-radius: 30px;
    font-size: 1.5rem;
    color: white
}
.buttonsApplePlay button svg{
    background-color: #fff;
    padding: 13px;
    border-radius: 50%;
}
.buttonsApplePlay button:first-child{
    background-color: rgba(254, 129, 75, 1);
}

.buttonsApplePlay button:last-child{
    background-color: rgba(155, 176, 104, 1);
}
.TextDiv h1{
    font-size: 3rem;
    font-weight: 600;
}
.TextDiv p{
    line-height: 2rem;
    width: 440px;
    font-size: 1.2rem;

}

 /* ACCORDION */

 .faq {
    margin-top: 2rem;
  }
  
  .Questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-color);
    border-radius: 35px;
    color: var(--accent-color);
    font-size: 2.5rem;
    cursor: pointer; /* Add cursor pointer for better UX */
    transition: transform 0.3s ease;
  }
  
  .Questions .SVG {
    background-color: var(--secondary-color);
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Add smooth transition */
  }
  
  .faq.active .answer {
    max-height: 300px; /* Set the max height when active */
  }
  .faq.active .Questions{
    background-color: rgba(75, 52, 37, 1);
    color: #fff;
  }
 .faq.active  .Questions svg{
    transform: rotate(180deg);
    
  }
  .faq.active .SVG{
    background-color: rgba(155, 176, 104, 1);
  }
  svg{
    transition: transform 0.3s ease;
  }
  
 /* ACCORDION */
/* SECTION 9 */

.Our-Pricing{
    font-weight: 700;
}
.Our-Pricing, .Our-Flexibility{
    color: white;
}
/* Customer comments */
.Slider{
    display: flex;
}
.Slider .Column-1{
    width: 200px;
    height: 600px;
}
.Slider .Column-2{
    position: relative;
}
.sliderContent{
    position: absolute;
    width: 800px;
    top: 100;
    left: 100;
}
.sliderContent h1{
    font-weight: 600;
    color: white;
}
.TheBigColon{
    background-color: rgb(199, 71, 16); 
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    border-radius: 30px;
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ButtonComment{
    display: flex;
    align-items: center;
}
.clientName {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 400px;
    border-radius: 50px;

}
.clientName .clientImage{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.clientName .clientDiscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SlidButton{
    display: flex;
}
.SlidButton button{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 30px;
    border: 1px solid #fff;
    outline: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
/* Customer comments */


@media only screen and (max-width: 767px){
    
    .DroppDownMenuu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .DroppDownMenuu ul li{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .DroppDownMenuu ul li:hover{

    }
   
    
    .PlatformLandingPage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }
    .hOneDiv h1{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .PlatformHeroText h1{
       text-align: center;
       font-weight: 700;
       font-size: 2rem;
       line-height: 2rem;
       color: rgba(75, 52, 37, 1);
    }
   
    .PlatformHeroText h1 span{
        color: rgba(155, 176, 104, 1);
    }

    .PlatformHeroText .stepInto{
        font-size: 2rem;
        display: none;
    }
    .PlatformHeroText{
        width:auto;
        order: 2;
    
    }
    .PlatformHeroText .Thecards{
        float:none;
        width: auto;
    }
    

    .HeroImages{
        display: flex;
        flex-direction: column;
    }
    .HeroImages{
        background-image: url('images/3D\ Asset\ 2.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
       
    }
    .PlatformHeroText{
        order: 1;
        width: fit-content;
    }
    .HeroImages{
        order: 2;
    }
    .PlatformPagetwo{

    }
    .OurPlatfornWithCol{
        grid-template-columns: 100%;
    }
     .OurAdvance{
        width: fit-content;
        font-size: 1.5rem;
        font-weight: 700;
        
    }
    
    .Bullets{
        display: grid;
        grid-template-columns: 100%;
    }
    .bullet span{
        font-size: 1rem;
    }

    /*GRID ARRANGEMENT BASED ON SCREEN SIZES*/
.PlatformPagetwo .hOneDiv{
    order: 1
}
.image{
    order: 2;
}
.OurPlatfornWithCol{
    order: 2;
}
/*GRID ARRANGEMENT BASED ON SCREEN SIZES*/

/*SECTION THREE OF PLATFORM PAGE*/
.WePro{
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.WePro h1{
    margin-top: 50px;
    font-size: 2rem;
    line-height: 2.5rem;
}
.TryDemoDownLoad{
    display: grid;
    grid-template-columns: 100%;
    
    }
    .TryDemoDownLoad button{
        margin-bottom: 14px;
    }
/*SECTION THREE OF PLATFORM PAGE*/


/* SECTION FOUR */

.WORK1 h1{
    font-size: 2rem;
}
.WORK1{
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* SECTION FOUR */


/*SECTION FIVE*/
.Content .Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Content .Box-Text h1{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    color: rgba(75, 52, 37, 1);

} 
.Content .Box-Text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Content .Box-Text p{
    text-align: center;
    font-size: 1rem;
    color: rgba(75, 52, 37, 1);

}
.StrikeThrough{
    content: "";
    width: 100%;
    background-color: rgba(232, 221, 217, 1);
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.StrikeThrough .circle{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(75, 52, 37, 1);
}
.BENEFITS{
    
}
/*SECTION FIVE*/
/*SECTION SIX*/
.BenefitContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CardsHere{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.CardContainer{
    display: grid;
    grid-template-columns: 100%;
}
.containerText h1, p{
    text-align: center;
}
.containerText p{
    font-size: 1rem;
}

/* SECTION 8  */
.SecEightContainerDiv{
    display: block;
}
.FreqAskedQ{
    flex-direction: column;

}


.answer p{
    text-align: left;
    width: auto;
}
.faq h3{
    font-size: 1rem;
}

/* SECTION 8  */

/* SECTION 9 */
.pricePlant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pricePlant h5{
    margin-right: 20px;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: white;
    float: right;
}
.plans {
    display: grid;
    grid-template-columns: 100%;
}

/* section ten */
.buttonsApplePlay{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Phonetext{
    display: flex;
    flex-direction: column;
}
.TextDiv{
    margin: 12px;
}
.TextDiv h1{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.TextDiv p{
    line-height: 2rem;
    font-size: 1.2rem;
    width: fit-content;
}



.Slider .Column-1{
    width: fit-content;
    height: fit-content;
}
.sliderContent{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    top: 0;
    left: 0;
}
.ButtonComment{
    display: flex;
    flex-direction: column;
}
.clientDiscription{
    position: relative;
   width: 100%;
}
.sliderContent h1{
    font-size: 1rem;
    text-align: center;
    float: left;
}
.SlidButton{
    display: flex;
    justify-content: space-between;
}


.About .Aboutabout{
    display: flex;
    flex-direction: column;
}

.SecEightContainerDiv{
    max-width: fit-content;
}
.FreqAskedQ h1{
    font-size: 2rem;
    text-align: center;
}
.QuestionSuggetions{
    display: none;
}

/* Dropdown menu */
.ContactInfoBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.TermsCond{
    display: none;
}
.ButtonContainer{
    flex-direction: column;
    border-radius: 2.5rem;
    width: 100%;
}
/* Dropdown menu */



}
